{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>To Do:</h1>

    <table>
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Task</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Completed</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
                <tr>
                      <th scope="row">
                        <form action="/reorder/{{task.id}}" method="POST">
                          <label>
                            <select name="priority" aria-label="{{task.priority}}" onchange="this.form.submit()" id="priority{{task.priority}}">
                              <option selected disabled id="priority{{task.priority}}">{{task.priority}}</option>
                              <option id="priority5">5</option>
                              <option id="priority4">4</option>
                              <option id="priority3">3</option>
                              <option id="priority2">2</option>
                              <option id="priority1">1</option>
                            </select>  
                          </label>  
                        </form>
                      </th>

                      <td id="complete{{task.complete}}">
                          {{ task.name }}
                      </td>

                      <td id="complete{{task.complete}}">
                        {{ task.timestamp }}
                      </td>
                    
                      {% if task.complete == 1 %}
                        <td>
                          <form action="/swap/{{task.id}}" method="POST">
                            <label>
                              <input name="completion" type="checkbox" role="switch" aria-invalid="false" onchange="this.form.submit()" checked>
                            </label>
                          </form>
                        </td>
                      {% else %}
                        <td>
                          <form action="/swap/{{task.id}}" method="POST">
                            <label>
                              <input name="completion" type="checkbox" role="switch" aria-invalid="true" onchange="this.form.submit()">
                            </label>
                          </form>
                        </td>
                      {% endif %}
                      <td>
                        <a role="button" onclick="return confirm('Are you sure you want to delete task: {{task.name}}')" href="/delete/{{task.id}}">Delete</a>
                      </td>

                </tr>
                
            {% else %}

                <p>None!</p>

    {% endfor %}

  

  </tbody>
</table>

  <h2>Add Task:</h2>

  <form action="/add" method="post">
    <fieldset class="grid">
      <label>
        Task Name
        <input name="name" placeholder="Task Name" required>
      </label>
      <label>
        Priority
        <select name="priority" required>
          <option id="priority5">5</option>
          <option id="priority4">4</option>
          <option id="priority3" selected>3</option>
          <option id="priority2">2</option>
          <option id="priority1">1</option>
        </select>
      </label>
      <input type="submit" value="Add Task">
    </fieldset>
  </form>

{% endblock %}

