{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>To Do:</h1>

    <table>
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Complete?</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
                <tr>
                    <th scope="row"><a href="/">
                        {{ task.name }}
                    </a></th>
                    <td>
                        {{ task.timestamp }}
                    </td>
                    <td>
                        {{ task.complete }}
                    </td>
                </tr>
                
            {% else %}

                <p>None!</p>

    {% endfor %}
  </tbody>
</table>

    

{% endblock %}

