{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>To Do:</h1>

    <table>
  <thead>
    <tr>
      <th scope="col">Priority</th>
      <th scope="col">Task</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Completed</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
                <tr>
                      <th scope="row">
                        <form action="/reorder/{{task.id}}" method="POST">
                          <label>
                            <select name="priority" aria-label="{{task.priority}}" onchange="this.form.submit()">
                              <option selected disabled>{{task.priority}}</option>
                              <option>5</option>
                              <option>4</option>
                              <option>3</option>
                              <option>2</option>
                              <option>1</option>
                            </select>  
                          </label>  
                        </form>
                      </th>

                      <td>
                          {{ task.name }}
                      </td>

                      <td>
                        {{ task.timestamp }}
                      </td>
                    
                      {% if task.complete == 1 %}
                        <td>
                          <form action="/swap/{{task.id}}" method="POST">
                            <label>
                              <input name="completion" type="checkbox" role="switch" aria-invalid="false" onchange="this.form.submit()" checked>
                            </label>
                          </form>
                        </td>
                      {% else %}
                        <td>
                          <form action="/swap/{{task.id}}" method="POST">
                            <label>
                              <input name="completion" type="checkbox" role="switch" aria-invalid="true" onchange="this.form.submit()">
                            </label>
                          </form>
                        </td>
                      {% endif %}
                      <td>
                        <a role="button" href="/delete/{{task.id}}">Delete</a>
                      </td>

                </tr>
                
            {% else %}

                <p>None!</p>

    {% endfor %}

  

  </tbody>
</table>

  <h2>Add Task:</h2>

  <form action="/add" method="post">
    <label>
      <input name="name" placeholder="Task Name" required>
    </label>
    <label>
      <select name="priority" required>
        <option disabled selected>Priority</option>
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </label>
    <input type="submit" value="Add Task">
  </form>

{% endblock %}

